.overlay-play-modifiers {
  display: none !important;
}

/* 隐藏 底部上下文控制栏（上一集、下一集按钮） */
.context-control {
  display: none !important;
}

.menu-tabs > div {
  display: none !important;
}

.menu-tabs > div:nth-child(5) {
  display: flex !important; /* 鎭㈠ flex 甯冨眬 */
}

.video-overlay-stopped {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
}

.side-container-flex {
  display: none !important;
}

.filter-input-icons > li:nth-child(2),
.filter-input-icons > li:nth-child(3),
.filter-input-icons > li:nth-child(4),
.filter-input-icons > li:nth-child(5),
.filter-input-icons > li:nth-child(6),
.filter-input-icons > li:nth-child(7),
.filter-input-icons > li:nth-child(9) {
  display: none !important;
}

/* ✨ 滚动条全局美化 (Mac 纤细圆角风格) */
::-webkit-scrollbar {
  width: 24px !important;
  height: 104px !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3) !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.6) !important;
}
